@import '@styles/theme.scss';

.post {
	background-color: $white;
	.thumb {
		width: 50%;
		margin-right: 2rem;

		img {
			width: 100%;
		}
	}

	.content {
		min-height: 12rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $bg;
		padding: 1rem;

		.title {
			font-size: 1.5rem;
			color: $bg;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}

		.excerpt {
			margin: 1rem 0;

			& * {
				font-family: 'Montserrat', sans-serif;
			}
		}

		.date {
			font-size: 0.75rem;
			margin-bottom: 1rem;
			font-family: 'Montserrat', sans-serif;
			color: $blue;
		}

		.readMore {
			color: $blue;
			position: relative;
			text-transform: uppercase;

			&::after {
				content: '➞';
				color: $blue;
				margin-left: 1rem;
			}
		}
	}
}
