@import '../theme.scss';

.postsContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 2rem;
	max-width: 1200px;
	width: 100%;

	.post {
		background-color: #101114;
		overflow: hidden;
		color: black;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 240px auto auto;
		grid-template-areas: 'thumb' 'content' 'date';
		justify-content: space-between;
		border-radius: 16px;
		margin: 0 1rem;
		color: white;

		.thumb {
			grid-area: thumb;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
			transition: 0.2s transform ease;
			background-color: white;

			&:hover {
				transform: scale(1.05);
			}
		}

		.content {
			grid-area: content;
			padding: 2rem 2rem;

			.title {
				font-size: 2rem;
				display: block;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
				color: white;

				&:hover {
					color: #ec424d;
				}
			}

			.desc {
				line-height: 1.5rem;
			}
		}

		.date {
			grid-area: date;
			font-size: 0.875rem;
			font-style: italic;
			text-align: right;
			opacity: 0.72;
			padding: 2rem;
		}

		@media only screen and (min-width: 780px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr auto;
			grid-template-areas: 'thumb content' 'thumb date';
			height: 320px;

			&:nth-of-type(2n) {
				grid-template-areas: 'content thumb' 'date thumb';
			}
		}

		@media only screen and (min-width: 1200px) {
			margin: 0;
		}
	}
}
